@font-face {
    font-family: 'marsfontbold';
    src: url('../fuente/marsfontbold-webfont.eot');
    src: url('../fuente/marsfontbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuente/marsfontbold-webfont.woff') format('woff'),
         url('../fuente/marsfontbold-webfont.ttf') format('truetype'),
         url('../fuente/marsfontbold-webfont.svg#marsfontbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'marsfontbold';
}

/*.dados,*/
#audio-intro,
#audio-portada,
#instrucciones,
#registro,
#lanzar-dado,
#mostrar-pregunta,
.botonera1,
#tabla-posiciones,
#premiacion {
    display: none;
}


.container{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height: 768px;    
}

.fondo-intro{
    background-image: url("../recursos/background.png");    
    width: 1024px;
    height: 768px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fondo-1{
    background-image: url("../recursos/bg/background-1.png");    
    width: 1024px;
    height: 768px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.gata-intro{
    background-image: url('../recursos/gata.png');
    background-repeat: no-repeat;
    position: relative;
    height: 478px;
    width: 273px;
    top:290px;
    z-index: 40;
}

.gata-intro #ojo-1{
    position: relative;
    top:70px;
    left:116px;
}

.gata-intro #boca-1{
    position: relative;
    top: 63px;
    left:110px;
}

.perro-intro{
    background-image: url('../recursos/oso.png');
    background-repeat: no-repeat;
    position:relative;
    top:265px;
    height: 503px;
    width:358px;
    z-index: 50;
}

.perro-intro #ojo-2{
    position: absolute;
    top: 70px;
    left:100px;
}

.perro-intro #boca-2{
    position: relative;
    top: 120px;
    left:118px;
}

#intro-mars-logo{
    background-image: url('../recursos/mars.png');
    background-repeat: no-repeat;   
    height: 407px;
    width:644px;
    z-index: 10;   
    position: relative;
    top:-80px;
    left: 200px;
    animation-duration: 1.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-top: -408px;
    } 
    to {
        margin-top: 7px;
    }
}

.intro-dado{
    background-image: url('../recursos/dado.png');
    background-repeat: no-repeat;   
    height: 319px;
    width:399px;
    top:367px;
    left: 265px;
    z-index: 99;  
    position: absolute;   
}

.intro-d{
    position: absolute;
    width: 1024px;
    height: 768px;
}

.play-intro{
    background-image: url('../recursos/btn-play.png');
    background-repeat: no-repeat;   
    height:100px;
    width:225px ;   
    top: 275px;
    left: 400px;  
    z-index: 90;
    cursor: pointer;
    position: relative;
}


/*
 SECCION  --- INSTRUCCIONES 
*/

.perro-instrucciones {
    background-image: url('../recursos/instrucciones/perro.png');
    background-repeat: no-repeat;
    position:relative;
    height: 337px;
    z-index: 50;
    top:431px;
    width:275px
}

.perro-instrucciones #instrucciones-ojo-2{
    position: absolute;
    top: 67px;
    left:130px;
}

.perro-instrucciones #instrucciones-boca-2{
    position: relative;
    top: 120px;
    left:126px;
}

.fondo-instrucciones{
    background-image: url("../recursos/instrucciones/background.png");    
    width: 1024px;
    height: 768px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.gata-instrucciones{
    background-image: url('../recursos/instrucciones/gata.png');
    background-repeat: no-repeat;
    position: relative;
    height: 478px;
    width: 273px;
    top:290px;
    z-index: 40;
}

#fichas-instrucciones{
    background-image: url('../recursos/instrucciones/fichas.png');
    background-repeat: no-repeat;   
    height: 693px;
    width:786px;
    top:75px;
    left: 210px;
    z-index: 9;  
    position: absolute;
}

#instrucciones-full{
    background-image: url('../recursos/instrucciones/instrucciones.png');
    background-repeat: no-repeat;   
    height: 493px;
    width:693px;
    top: 150px;
    left: 210px;
    z-index: 9;   
    position: absolute;
}

.gata-instrucciones #ojo-1{
    position: relative;
    top:70px;
    left:76px;
}

.gata-instrucciones #boca-1{
    position: relative;
    top: 63px;
    left:70px;
}
.registro-btn-siguiente img,
.instrucciones-btn-siguiente img{
    left: 480px;
    top:660px;
    cursor: pointer;
    position: absolute;
    z-index: 90;
}

/*
 SECCION  --- REGISTRO

*/


.gata-registro{
    background-image: url('../recursos/registro/gata.png');
    background-repeat: no-repeat;
    position: relative;
    height: 473px;
    width: 233px;
    top:295px;
    z-index: 40;
}

.gata-registro #ojo-1{
    position: relative;
    top:70px;
    left:65px;
}

.gata-registro #boca-1{
    position: relative;
    top: 63px;
    left:55px;
}

.perro-registro {
    background-image: url('../recursos/registro/perro.png');
    background-repeat: no-repeat;
    position:relative;
    height: 496px;
    width:310px;
    z-index: 50;
    top:272px;
}

.perro-registro #registro-ojo-2{
    position: absolute;
    top: 67px;
    left:100px;
}

.perro-registro #registro-boca-2{
    position: relative;
    top: 120px;
    left:115px;
}

#registro-fichas{
    background-image: url('../recursos/registro/fichas.png');
    background-repeat: no-repeat;   
    height: 745px;
    width:743px;
    top:23px;
    left: 210px;
    z-index: 9;  
    position: absolute;
}

#registro-equipos{
    background-image: url('../recursos/registro/registro.png');
    background-repeat: no-repeat;   
    height: 514px;
    width:518px;
    top:130px;
    left: 240px;
    z-index: 9;  
    position: absolute;
}

.inputs{
    display: block;
    margin-left:95px;
    margin-top:140px
}

.inputs input{
    line-height: 32px;
    width: 380px;
    margin-bottom: 64px;
    font-family: 'marsfontbold';
    font-size: 1.6rem;
}


/*
 SECCION  --- LANZAR DADO

*/

#categoria{
    margin-top: 30px;
    margin-left: 20px
}

.categorias label{
    display: block;
    position:relative;
    left: 85px ;
    font-size: 1.1rem;
    width: 220px;
}

.categorias #cat-0{
    top: -606px;  
}

.categorias #cat-1{
    top: -545px;  
}

.categorias #cat-2{
    top: -480px;  
}

.categorias #cat-3{
    top: -415px;  
}

.categorias #cat-4{
    top: -350px;  
}

.categorias #cat-5{
    top: -287px;  
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:670px;
    padding: 1rem 0;
}

.team .dados{
    position: absolute;
    top: 210px;
    margin-left:90px ;
}

.team .dados #lanzar{
    position: relative;
    top:30px;
    left:-232px;
    z-index: 99;
    cursor: pointer;
}

.team .dados #cara-seleccionada{
    position: absolute;
    opacity: 0;
}



.animated {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.animar-parpadeo{
    animation-name: parpadeo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes parpadeo {  
    0% { opacity: 1.0; }
    15% { opacity: 0.0; }
    30% { opacity: 1.0; }
    45% { opacity: 0.0; }
    60% { opacity: 1.0; }
    75% { opacity: 0.0; }
    90% { opacity: 1.0; }
    
    100% { opacity: 1.0; }
  }


.team .equipo{
    position: relative;
    top:85px;
    left: -70px;

}

.team .equipo img{
    position: absolute;
}

.team .personajes{
    width: 670px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top:352px
}

#nombre-equipo{
    display: block;
    position:relative;
    width: 400px;
    left: 100px ;
    font-size: 1.7rem; 
    text-align: center;
    top:35px;
}


/**

 SECCION  --- MOSTRAR PREGUNTA

*/

.nombre-color-equipo{
    z-index: 90;
    height: 106px;
    margin-top:90px;
    position: relative;
    margin-left:430px

}

.nombre-color-equipo label{
    position: relative;
    width: 500px;
    top:66px;
    display: block;
    text-align: center;
    font-size:1.7rem
}


.fondo-pregunta{
    background-image: url("../recursos/question/question-layer.png");    
    width: 1024px;
    height: 768px;
    position: absolute;
}


.pregunta .cuadro-pregunta {
    position: relative;
    width: 60%;
    top:310px;
    font-size: 1.6rem;
    font-style: italic;
    left: 250px;
    margin-bottom:10rem;
}


.cuadro-pregunta .botonera,
.cuadro-pregunta .botonera1{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    position: relative;
    
}

.cuadro-pregunta .botonera #sin-opciones,
.cuadro-pregunta .botonera #con-opciones,
.cuadro-pregunta .botonera1 #correcto,
.cuadro-pregunta .botonera1 #incorrecto{
    z-index: 99;
    cursor: pointer;
}

.time{
    z-index: 99;
    position: absolute;
    left: 860px;
    top:240px;
}

.time label{
    position: absolute;
    top:47px;
    left:48px;
    font-size:1.7rem;
    letter-spacing: 5px;
}


.gatita{
    background-image: url("../recursos/globals/gatita.png");    
    width: 1024px;
    height: 768px;
    position: absolute;
    top:0
}

.boca-gatita{
    background-image: url("../recursos/globals/gatita-boca-1.png");    
    width: 1024px;
    height: 768px;
    position: absolute;
}

.ojos-gatita{
    background-image: url("../recursos/globals/gatita-ojo.png");   
    width: 1024px;
    height: 768px;
    position: absolute;
}


.cuadro-pregunta #pregunta{    
    padding-bottom: 1.2rem;
}

.pregunta .cuadro-pregunta #respuestas {
    padding-left: 50px;
    display:flex;
    flex-direction: column;

}


#respuestas #opcion-a,
#respuestas #opcion-b,
#respuestas #opcion-c{
    display:flex;
    align-items: center;
    margin-bottom: .5rem;
    z-index: 90;
}

#opcion-a span, 
#opcion-b span, 
#opcion-c span{
    margin-left:1rem;
    cursor: pointer;
    z-index: 99;
}




/* 
    tabla posiciones...
**/

.tablero{
    background-image: url("../recursos/tabla-posiciones/tablero.png");    
    width: 873px;
    height: 634px;
    position: relative;
    left: -61px;
    top:50px;
    z-index: 99;
}

.tablero #ficha-1{
    position: absolute;
    top:309px;
    left:76px;
    z-index: 1;
}

.tablero #ficha-2{
    position: absolute;
    top:255px;
    left:56px;
    z-index: 1;
}


.tablero #ficha-3{
    position: absolute;
    top:265px;
    left:9px;
    z-index: 1;
}


.tablero #ficha-4{
    position: absolute;
    top:313px;
    left:29px;
    z-index: 1;
}

.tablero #ficha-5{
    position: absolute;
    top:285px;
    left:47px
}


.tablero-personajes{
    background-image: url("../recursos/tabla-posiciones/personajes.png");    
    width: 1001px;
    height: 616px;
    position: absolute;
    top:153px
}

.tablero-btn img{
    position: absolute;
    margin-top: 678px;
    margin-left: 500px;
    cursor: pointer;
    z-index: 10;
}


/*
 PREMIACION
**/

.gata-premiacion{
    background-image: url('../recursos/premiacion/gatita.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 768px;
    width: 1024px;
}

.gata-premiacion .ojos-g-premiacion{
    position: absolute;
    left:0
}


.perro-premiacion{
    background-image: url('../recursos/premiacion/perrito.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 768px;
    width: 1024px;
    z-index: 2;
}

.perro-premiacion .ojos-p-premiacion{
    position: absolute;
    left: 0;
}

.posiciones-texto{
    background-image: url('../recursos/premiacion/posiciones-texto.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 768px;
    width: 1024px;
}


.premiacion{
    background-image: url('../recursos/premiacion/fichas.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 768px;
    width: 1024px;
}


.primer-lugar ,
.segundo-lugar ,
.tercer-lugar ,
.cuarto-lugar,
.primer-lugar img#uno,
.segundo-lugar img#dos,
.tercer-lugar img#tres,
.cuarto-lugar img#cuatro{
    position: absolute;
}


.lugares label{
    font-family: 'marsfontbold';
    font-size: 1.7rem;
}

.primer-lugar img#posicion1{
    position: absolute;
    top: 245px;
    left: 263px;
}


.primer-lugar label{
    position: relative;
    top: 276px;
    left: 363px;
}

.segundo-lugar label{
    position: relative;
    top: 379px;
    left: 363px;
}

.tercer-lugar label{
    position: relative;
    top: 481px;
    left: 363px;
}

.cuarto-lugar label{
    position: relative;
    top: 583px;
    left: 363px;
}

.segundo-lugar img#posicion2{
    position: absolute;
    top:347px;
    left: 263px;
}

.tercer-lugar img#posicion3{
    position: absolute;
    top:448px;
    left: 263px;
}

.cuarto-lugar img#posicion4{
    position: absolute;
    top:551px;
    left: 263px;
}